html {
    background-color:white;
    font-family: Roboto, sans-serif;
}

main {
    position: relative;
}

main ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
}

footer {
    background-color: #343a40;
}