<section class="row" *ngIf="movie">
  <div class="col-sm-4">
      <img class="card-img-top" src="https://image.tmdb.org/t/p/w342/{{ movie.poster_path }}" alt="{{ movie.title }}">
  </div>
  <div class="col-sm-8">
      <h1 class="h2">{{ movie.title }}</h1>
      <p><em>{{ movie.original_title }}</em></p>
      <p>
          {{ movie.overview }}
      </p>
      <ul>
          <li>Date de sortie : {{ movie.release_date|date:'dd/MM/yyyy' }}</li>
          <li>Durée : {{ movie.runtime }} minutes</li>
          <li *ngIf="movie.budget > 0">Budget : {{ movie.budget|currency:'USD':'symbol':'1.0-0':'fr' }}</li>
      </ul>
      <p>
          <a class="btn btn-primary" href="https://www.imdb.com/title/{{ movie.imdb_id }}">Voir la fiche IMDB</a>
      </p>
  </div>
</section>